- options = []

- options.push({name: '-- Piano --'})
- options.push({name: 'Acoustic Grand Piano', value: 0})
- options.push({name: 'Bright Acoustic Piano', value: 1})
- options.push({name: 'Electric Grand Piano', value: 2})
- options.push({name: 'Honky-tonk Piano', value: 3})
- options.push({name: 'Electric Piano 1', value: 4})
- options.push({name: 'Electric Piano 2', value: 5})
- options.push({name: 'Harpsichord', value: 6})
- options.push({name: 'Clavinet', value: 7})

- options.push({name: '-- Chromatic Percussion --'})
- options.push({name: 'Celesta', value: 8})
- options.push({name: 'Glockenspiel', value: 9})
- options.push({name: 'Music Box', value: 10})
- options.push({name: 'Vibraphone', value: 11})
- options.push({name: 'Marimba', value: 12})
- options.push({name: 'Xylophone', value: 13})
- options.push({name: 'Tubular Bells', value: 14})
- options.push({name: 'Dulcimer', value: 15})

- options.push({name: '-- Organ --'})
- options.push({name: 'Drawbar Organ', value: 16})
- options.push({name: 'Percussive Organ', value: 17})
- options.push({name: 'Rock Organ', value: 18})
- options.push({name: 'Church Organ', value: 19})
- options.push({name: 'Reed Organ', value: 20})
- options.push({name: 'Accordion', value: 21})
- options.push({name: 'Harmonica', value: 22})
- options.push({name: 'Tango Accordion', value: 23})

- options.push({name: '-- Guitar --'})
- options.push({name: 'Acoustic Guitar (nylon)', value: 24})
- options.push({name: 'Acoustic Guitar (steel)', value: 25})
- options.push({name: 'Electric Guitar (jazz)', value: 26})
- options.push({name: 'Electric Guitar (clean)', value: 27})
- options.push({name: 'Electric Guitar (muted)', value: 28})
- options.push({name: 'Overdriven Guitar', value: 29})
- options.push({name: 'Distortion Guitar', value: 30})
- options.push({name: 'Guitar Harmonics', value: 31})

- options.push({name: '-- Bass --'})
- options.push({name: 'Acoustic Bass', value: 32})
- options.push({name: 'Electric Bass (finger)', value: 33})
- options.push({name: 'Electric Bass (pick)', value: 34})
- options.push({name: 'Fretless Bass', value: 35})
- options.push({name: 'Slap Bass 1', value: 36})
- options.push({name: 'Slap Bass 2', value: 37})
- options.push({name: 'Synth Bass 1', value: 38})
- options.push({name: 'Synth Bass 2', value: 39})

- options.push({name: '-- Strings--'})
- options.push({name: 'Violin', value: 40})
- options.push({name: 'Viola', value: 41})
- options.push({name: 'Cello', value: 42})
- options.push({name: 'Contrabass', value: 43})
- options.push({name: 'Tremolo Strings', value: 44})
- options.push({name: 'Pizzicato Strings', value: 45})
- options.push({name: 'Orchestral Harp', value: 46})
- options.push({name: 'Timpani', value: 47})

- options.push({name: '-- Ensemble --'})
- options.push({name: 'String Ensemble 1', value: 48})
- options.push({name: 'String Ensemble 2', value: 49})
- options.push({name: 'Synth Strings 1', value: 50})
- options.push({name: 'Synth Strings 2', value: 51})
- options.push({name: 'Choir Aahs', value: 52})
- options.push({name: 'Voice Oohs', value: 53})
- options.push({name: 'Synth Choir', value: 54})
- options.push({name: 'Orchestra Hit', value: 55})

- options.push({name: '-- Brass --'})
- options.push({name: 'Trumpet', value: 56})
- options.push({name: 'Trombone', value: 57})
- options.push({name: 'Tuba', value: 58})
- options.push({name: 'Muted Trumpet', value: 59})
- options.push({name: 'French Horn', value: 60})
- options.push({name: 'Brass Section', value: 61})
- options.push({name: 'Synth Brass 1', value: 62})
- options.push({name: 'Synth Brass 2', value: 63})

- options.push({name: '-- Reed --'})
- options.push({name: 'Soprano Sax', value: 64})
- options.push({name: 'Alto Sax', value: 65})
- options.push({name: 'Tenor Sax', value: 66})
- options.push({name: 'Baritone Sax', value: 67})
- options.push({name: 'Oboe', value: 68})
- options.push({name: 'English Horn', value: 69})
- options.push({name: 'Bassoon', value: 70})
- options.push({name: 'Clarinet', value: 71})

- options.push({name: '-- Pipe --'})
- options.push({name: 'Piccolo', value: 72})
- options.push({name: 'Flute', value: 73})
- options.push({name: 'Recorder', value: 74})
- options.push({name: 'Pan Flute', value: 75})
- options.push({name: 'Blown Bottle', value: 76})
- options.push({name: 'Shakuhachi', value: 77})
- options.push({name: 'Whistle', value: 78})
- options.push({name: 'Ocarina', value: 79})

- options.push({name: '-- Synth Lead --'})
- options.push({name: 'Lead 1 (square)', value: 80})
- options.push({name: 'Lead 2 (sawtooth)', value: 81})
- options.push({name: 'Lead 3 (calliope)', value: 82})
- options.push({name: 'Lead 4 (chiff)', value: 83})
- options.push({name: 'Lead 5 (charang)', value: 84})
- options.push({name: 'Lead 6 (voice)', value: 85})
- options.push({name: 'Lead 7 (fifths)', value: 86})
- options.push({name: 'Lead 8 (bass + lead)', value: 87})

- options.push({name: '-- Synth Pad --'})
- options.push({name: 'Pad 1 (new age)', value: 88})
- options.push({name: 'Pad 2 (warm)', value: 89})
- options.push({name: 'Pad 3 (polysynth)', value: 90})
- options.push({name: 'Pad 4 (choir)', value: 91})
- options.push({name: 'Pad 5 (bowed)', value: 92})
- options.push({name: 'Pad 6 (metallic)', value: 93})
- options.push({name: 'Pad 7 (halo)', value: 94})
- options.push({name: 'Pad 8 (sweep)', value: 95})

- options.push({name: '-- Synth Effects --'})
- options.push({name: 'FX 1 (rain)', value: 96})
- options.push({name: 'FX 2 (soundtrack)', value: 97})
- options.push({name: 'FX 3 (crystal)', value: 98})
- options.push({name: 'FX 4 (atmosphere)', value: 99})
- options.push({name: 'FX 5 (brightness)', value: 100})
- options.push({name: 'FX 6 (goblins)', value: 101})
- options.push({name: 'FX 7 (echoes)', value: 102})
- options.push({name: 'FX 8 (sci-fi)', value: 103})

- options.push({name: '-- Ethnic --'})
- options.push({name: 'Sitar', value: 104})
- options.push({name: 'Banjo', value: 105})
- options.push({name: 'Shamisen', value: 106})
- options.push({name: 'Koto', value: 107})
- options.push({name: 'Kalimba', value: 108})
- options.push({name: 'Bagpipe', value: 109})
- options.push({name: 'Fiddle', value: 110})
- options.push({name: 'Shanai', value: 111})

- options.push({name: '-- Percussive --'})
- options.push({name: 'Tinkle Bell', value: 112})
- options.push({name: 'Agogo', value: 113})
- options.push({name: 'Steel Drums', value: 114})
- options.push({name: 'Woodblock', value: 115})
- options.push({name: 'Taiko Drum', value: 116})
- options.push({name: 'Melodic Tom', value: 117})
- options.push({name: 'Synth Drum', value: 118})
- options.push({name: 'Reverse Cymbal', value: 119})

- options.push({name: '-- Sound effects --'})
- options.push({name: 'Guitar Fret Noise', value: 120})
- options.push({name: 'Breath Noise', value: 121})
- options.push({name: 'Seashore', value: 122})
- options.push({name: 'Bird Tweet', value: 123})
- options.push({name: 'Telephone Ring', value: 124})
- options.push({name: 'Helicopter', value: 125})
- options.push({name: 'Applause', value: 126})
- options.push({name: 'Gunshot', value: 127})

- for opt in options
    if opt.value !== undefined
        if selectedInstrument === opt.value
            option(value=opt.value, selected) #{opt.name}
        else
            option(value=opt.value) #{opt.name}
    else
        option(value=opt.value, disabled='disabled') #{opt.name}
