extends layout
block content
    img(src='../images/redact.png', width='300px')
    if id
        if file
            p Currently playing: #{file}
        form(method='GET', action='')
            input(type='hidden', name='id', value=id)
            if file
                input(type='hidden', name='f', value=file)
            label Chords Instrument:
            select(name='ci')
                - selectedInstrument = chordsInstrument | undefined
                include ./instruments
            br
            label Melody Instrument:
            select(name='mi')
                - selectedInstrument = melodyInstrument | undefined
                include ./instruments
            br
            input(type='number', name='t', value=tempo, min='30')
            select(name='k', value=key)
                - selectedKey = key | undefined
                include ./keys
            input(type='submit', value='Load these parameters')
        - url = './?id=' + id
        - if (file !== undefined) url += '&f=' + file
        - if (chordsInstrument !== undefined) url += '&ci=' + chordsInstrument
        - if (melodyInstrument !== undefined) url += '&mi=' + melodyInstrument
        - if (key !== undefined) url += '&k=' + key
        - if (tempo !== undefined) url += '&t=' + tempo
        - durl = url + '&download=1'
        audio(controls)
            source(src=url)
        br
        a(href=durl) download
    if id
        p Try another face file:
    else
        p Upload a face file:
    form(method='POST', action='', enctype='multipart/form-data')
        input(type='file', name='files')
        input(type='submit')